[Desktop Entry]
Version=1.0
Name=Chromium
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
GenericName[ar]=????? ??????
GenericName[bg]=??? ???????
GenericName[ca]=Navegador web
GenericName[cs]=WWW prohlíže?
GenericName[da]=Browser
GenericName[de]=Web-Browser
GenericName[el]=?????????? ?????
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[gu]=??? ???????
GenericName[he]=????? ???????
GenericName[hi]=??? ????????
GenericName[hu]=Webböngész?
GenericName[it]=Browser Web
GenericName[ja]=???????
GenericName[kn]=??? ??????
GenericName[ko]=? ????
GenericName[lt]=Žiniatinklio naršykl?
GenericName[lv]=T?mek?a p?rl?ks
GenericName[ml]=???? ????????
GenericName[mr]=??? ???????
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[pl]=Przegl?darka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=???-???????
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[ta]=???? ?????
GenericName[th]=???????????????
GenericName[tr]=Web Taray?c?
GenericName[uk]=????????? ?????
GenericName[zh_CN]=?????
GenericName[zh_HK]=?????
GenericName[zh_TW]=?????
# Not translated in KDE, from Epiphany 2.26.1-0ubuntu1.
GenericName[bn]=???? ????????
GenericName[fil]=Web Browser
GenericName[hr]=Web preglednik
GenericName[id]=Browser Web
GenericName[or]=????? ???????
GenericName[sk]=WWW prehliada?
GenericName[sr]=???????? ??????????
GenericName[te]=????? ???????
GenericName[vi]=B? duy?t Web
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
Comment[ar]=?????? ??? ????????
Comment[bg]=?????? ?? ????????
Comment[bn]=??????????? ????????? ????
Comment[ca]=Accedeix a Internet
Comment[cs]=P?ístup k internetu
Comment[da]=Få adgang til internettet
Comment[de]=Internetzugriff
Comment[el]=???????? ??? ?????????
Comment[en_GB]=Access the Internet
Comment[es]=Accede a Internet.
Comment[et]=Pääs Internetti
Comment[fi]=Käytä internetiä
Comment[fil]=I-access ang Internet
Comment[fr]=Accéder à Internet
Comment[gu]=??????? ?????? ???
Comment[he]=???? ?? ????????
Comment[hi]=??????? ?? ????? ??????? ????
Comment[hr]=Pristup Internetu
Comment[hu]=Internetelérés
Comment[id]=Akses Internet
Comment[it]=Accesso a Internet
Comment[ja]=????????????
Comment[kn]=????????? ????? ?????????
Comment[ko]=??? ??
Comment[lt]=Interneto prieiga
Comment[lv]=Piek??t internetam
Comment[ml]=?????????????? ??????? ???????
Comment[mr]=???????????? ?????? ???
Comment[nb]=Gå til Internett
Comment[nl]=Verbinding maken met internet
Comment[or]=?????????? ?????? ??????
Comment[pl]=Skorzystaj z internetu
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
Comment[ro]=Accesa?i Internetul
Comment[ru]=?????? ? ????????
Comment[sk]=Prístup do siete Internet
Comment[sl]=Dostop do interneta
Comment[sr]=?????????? ?????????
Comment[sv]=Gå ut på Internet
Comment[ta]=???????? ????????
Comment[te]=???????????? ??????? ????????
Comment[th]=???????????????????
Comment[tr]=?nternet'e eri?in
Comment[uk]=?????? ?? ?????????
Comment[vi]=Truy c?p Internet
Comment[zh_CN]=?????
Comment[zh_HK]=???????
Comment[zh_TW]=???????
Exec=/usr/bin/google-chrome %U
Terminal=false
Icon=/usr/bin/chromium/product_logo_48.png
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognito

[NewWindow Shortcut Group]
Name=New Window
Name[am]=??? ????
Name[ar]=????? ?????
Name[bg]=??? ????????
Name[bn]=???? ??????
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=??? ????????
Name[en_GB]=New Window
Name[es]=Nueva ventana
Name[et]=Uus aken
Name[fa]=????? ????
Name[fi]=Uusi ikkuna
Name[fil]=New Window
Name[fr]=Nouvelle fenêtre
Name[gu]=??? ?????
Name[hi]=?? ?????
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[iw]=???? ???
Name[ja]=???????
Name[kn]=??? ?????
Name[ko]=? ?
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[ml]=????? ???????
Name[mr]=???? ?????
Name[nl]=Nieuw venster
Name[no]=Nytt vindu
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastr? nou?
Name[ru]=????? ????
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=???? ??????
Name[sv]=Nytt fönster
Name[sw]=Dirisha Jipya
Name[ta]=????? ??????
Name[te]=??????? ?????
Name[th]=????????????
Name[tr]=Yeni Pencere
Name[uk]=???? ?????
Name[vi]=C?a s? M?i
Name[zh_CN]=????
Name[zh_TW]=????
Exec=/usr/bin/google-chrome
TargetEnvironment=Unity

[NewIncognito Shortcut Group]
Name=New Incognito Window
Name[ar]=????? ????? ?????? ???????
Name[bg]=??? ???????? „?????????“
Name[bn]=???? ???????? ??????
Name[ca]=Finestra d'incògnit nova
Name[cs]=Nové anonymní okno
Name[da]=Nyt inkognitovindue
Name[de]=Neues Inkognito-Fenster
Name[el]=??? ???????? ??? ??????? ?????????
Name[en_GB]=New Incognito window
Name[es]=Nueva ventana de incógnito
Name[et]=Uus inkognito aken
Name[fa]=????? ???? ???? ??????
Name[fi]=Uusi incognito-ikkuna
Name[fil]=Bagong Incognito window
Name[fr]=Nouvelle fenêtre de navigation privée
Name[gu]=??? ???? ?????
Name[hi]=?? ????? ?????
Name[hr]=Novi anoniman prozor
Name[hu]=Új Inkognitóablak
Name[id]=Jendela Penyamaran baru
Name[it]=Nuova finestra di navigazione in incognito
Name[iw]=???? ??? ?????? ????
Name[ja]=????????? ?????
Name[kn]=??? ?????? ?????
Name[ko]=? ??? ?
Name[lt]=Naujas inkognito langas
Name[lv]=Jauns inkognito rež?ma logs
Name[ml]=????? ??? ????????? ???????
Name[mr]=???? ????? ?????
Name[nl]=Nieuw incognitovenster
Name[no]=Nytt inkognitovindu
Name[pl]=Nowe okno incognito
Name[pt]=Nova janela de navegação anónima
Name[pt_BR]=Nova janela anônima
Name[ro]=Fereastr? nou? incognito
Name[ru]=????? ???? ? ?????? ?????????
Name[sk]=Nové okno inkognito
Name[sl]=Novo okno brez beleženja zgodovine
Name[sr]=???? ?????? ?? ?????????? ??? ??????????
Name[sv]=Nytt inkognitofönster
Name[ta]=????? ????????? ??????
Name[te]=??????? ?????? ?????
Name[th]=???????????????????????????
Name[tr]=Yeni Gizli pencere
Name[uk]=???? ????? ? ?????? ?????????? ?????????
Name[vi]=C?a s? ?n danh m?i
Name[zh_CN]=??????
Name[zh_TW]=???????
Exec=/usr/bin/google-chrome --incognito
TargetEnvironment=Unity
